body {
    overflow-x: hidden;
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
}

li a:hover {
    background-color: rgb(17, 17, 17);
}

.img_menu {
    width: 90px;
    height: 40px;
}

.portada {
    width: 100%;
}

.titol_contacte {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: sans-serif;
    font-size: 50px;
}

.titol2_contacte {
    text-align: center;
    font-size: 30px;
    color: #333;
    font-family: sans-serif;
}

.titol1 {
    font-family: sans-serif;
    position: absolute;
    margin-top: 150px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 50px;
}

.formulari {
    text-align: center;
}

p {
    font-family: sans-serif;
    position: relative;
    text-align: left;
    left: 25%;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
}

.boto_form {
    margin-top: 15px;
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: sans-serif;
}

.footer {
    background-color: #333;
    text-align: center;
    padding: 3px 20px;
    margin-top: 2%;
}

.footer img {
    max-width: 30px;
    max-height: 30px;
}